@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --font-lato: var(--font-lato);
  --font-quicksand: var(--font-quicksand);
}

/* Pagination bullets base */
.hero-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white; 
  opacity: 1;
  border: 1px solid black;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hero-swiper .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
}

.hero-swiper .swiper-pagination-bullet:active {
  animation: clickFlash 0.5s forwards;
}

@keyframes clickFlash {
  0% {
    background: #3bb77e;
    transform: scale(1.3);
  }
  100% {
    background: white;
    transform: scale(1);
  }
}
